@using CarApp.Pages.RentInfo

@model RentInfo

<form method="post" asp-controller="RentInfo" asp-action="DeletePOST" style="border: 1px solid white; padding: 3px; margin-top: 4px;">

    <input asp-for="RentInfoId" class="form-control" hidden />
    <div class="border p-3 mt-4">
        <div class="roe pb-2">
            <h2 class="text-primary"> Delete Status Type</h2>
        </div>
        <div class="mb-3">




            <label asp-for="Car.Name"></label>
            <input asp-for="Car.Name" disabled class="form-control" />
            <span asp-validation-for="Car.Name" class="text-danger"></span>

            <label asp-for="DateBring"></label>
            <input asp-for="DateBring" disabled class="form-control" />
            <span asp-validation-for="DateBring" class="text-danger"></span>

            <label asp-for="DateReturn"></label>
            <input asp-for="DateReturn" disabled class="form-control" />
            <span asp-validation-for="DateReturn" class="text-danger"></span>

            <label asp-for="Status.Name"></label>
            <input asp-for="Status.Name" disabled class="form-control" />
            <span asp-validation-for="Status.Name" class="text-danger"></span>

        </div>

        <input asp-for="RentInfoId" class="form-control" type="hidden" />





        <button type="submit" class="btn btn-primary" style="width:150px;">Delete</button>
        <a asp-controller="RentInfo" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>

    </div>
</form>

