@using CarApp.Pages.Vehicle
@model VehicleType

<form method="post" asp-controller="Vehicle" asp-action="Update" style="border: 1px solid white; padding: 3px; margin-top: 4px;">
    <div class="border p-3 mt-4">
        <div class="roe pb-2">
            <h2 class="text-primary"> Edit Vehicle Type</h2>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>


        <input asp-for="VehicleId" class="form-control" type="hidden" />

        <button type="submit" class="btn btn-primary" style="width:150px;">Update</button>
        <a asp-controller="Vehicle" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>

    </div>
</form>

